<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTaklk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <!--
      Global App Settings.
        Examples:
          SolutionName -> SeleniumWebDriver
          ProjectDirectory -> path-to-directory
    -->
    <add key="FluentAssertions.TestFramework" value="nunit" />
    <add key="SolutionName" value="" />
    <add key="ProjectDirectory" value="" />
    <add key="TestResultsDirectory" value="TestResults" />
    <add key="BrowserDirectory" value="Browsers" />
    <add key="ScreenCaptureDirectory" value="ScreenCaptures" />
    <add key="ReuseWebSession" value="true" />
    <!--
      Configurable Test Parameters.
    -->
    <add key="MonitorWebPerformance" value="false" />
    <add key="AppEnvironment" value="" />
    <add key="Browser" value="" />
    <add key="TestDriver" value="" />
    
  </appSettings>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <stepAssemblies>
      <!-- This attribute is required in order to use StepArgument Transformation as described here; 
    https://github.com/marcushammarberg/SpecFlow.Assist.Dynamic/wiki/Step-argument-transformations  -->
      <stepAssembly assembly="SpecFlow.Assist.Dynamic" />
    </stepAssemblies>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="NUnit" />
  </specFlow>
</configuration>