<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="NUnit" />
    <runtime
      stopAtFirstError="false"
      missingOrPendingStepsOutcome="Inconclusive" />
    <stepAssemblies>
      <!-- This attribute is required in order to use StepArgument Transformation as described here; 
    https://github.com/marcusoftnet/SpecFlow.Assist.Dynamic/wiki/Step-argument-transformations  -->
      <stepAssembly assembly="SpecFlow.Assist.Dynamic" />
    </stepAssemblies>
  </specFlow>
  <appSettings>
    <add key="FluentAssertions.TestFramework" value="nunit" />
    <add key="ReuseWebSession" value="true" />
    <add key="Solution" value="Arena.EnhancedNews.Regression" />
    <add key="DriversPath" value="drivers" />
    <add key="Results" value="test-results" />
    <add key="Screenshots" value="screenshots" />
    <!--
      configurable parameters.
    -->
    <add key="ProjectPath" value="C:\LBG\Arena\Arena_GUI_38\Test Automation\DotNet" />
    <add key="Browser" value="ie" />
    <add key="Environment" value="localhost" />
    <add key="EmailAddress" value="pca@pt-tesco.com" />
    <add key="Password" value="Bakertec!" />
  </appSettings>
</configuration>
